html {height:100%;width: 100%;}


body {background-color:rgb(12, 77, 82);
      background-image: url(background-image.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;}

.container 
       {margin-left: auto;
        margin-right: auto;
        width: 1280px;
        text-align: center;}


header {height: 120px;}

a {color: white;}


main {background-color: rgba(0, 0, 0, 0.425);
    height: 240px;
    text-align: center;
    margin-top: 130px;}
    
nav {background-color:rgba(0, 0, 0, 0.199);
     margin-top: -20px;
     color: white;
     padding-top: 14px;
     padding-bottom: 14px;
}   

    
footer {height: 25px;
       background-color:rgba(12, 77, 82, 0.445) ;
       margin-top: 150px;
       }
footer p{color: white;
        font-size: 15px;
padding-top: 4px;}







h1 {
    color:silver;
    font-style: italic;
    font-size: 80px;
    text-align: center;

}
 
 h2 {
     color:red ;
     font-size: 50px;
 }
 
 p {
     color:silver;
     font-size: 20px;
 }
 .box1 {background-color: red;
        width: 300px;
        height: 25px; 
        color: black;
        text-align:center;
        font-size: 22px;
        margin-right: auto;}

 .box2 {background-color:steelblue;
        width: 300px;
        height: 25px;
        color: cornsilk;
        text-align:center;
        font-size: 22px;
        margin-right: auto;}

 .box3 {background-color:black;
        width: 300px;
        height: 25px;
        color: crimson;
        text-align:center;
        font-size: 22px;
        margin-right: auto;}

 .box4 {color: silver;
        width: 750px;
        height: 75px;
        text-align:center;
        font-size: 80px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -80px;}

 .box5 {background-color: red;
        width: 300px;
        height: 25px; 
        color: black;
        text-align:center;
        font-size: 22px;
        margin-left: auto;
        margin-top: -70px;}

 .box6 {background-color:steelblue;
        width: 300px;
        height: 25px;
        color: cornsilk;
        text-align:center;
        font-size: 22px;
        margin-left: auto;}

 .box7 {background-color:black;
        width: 300px;
        height: 25px;
        color: crimson;
        text-align:center;
        font-size: 22px;
        margin-left: auto;}

 nav a {text-decoration: none;
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;}

main div{padding-left: 175px;
         color: white;
       font-style: italic;}
         
          .column {
              float:right;
              float: left;
              width: 3%;
            }
            
            /* Clearfix (clear floats) */
            .row::after {
              content: "";
              clear: both;
              display: table;
            }
